[user]
  email = octave.larose@hotmail.fr
  name = Octave Larose
[alias]
  st = status
[core]
  editor = vim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

[merge]
  conflictStyle = zdiff3
