KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":1", ENV{XAUTHORITY}="/run/user/1000/gdm/Xauthority", RUN+="/usr/bin/systemctl start hotplug_monitor.service"
